@import 'styles/colors';

.productSlide {
    padding: 78px 78px 40px 78px;
    width: 650px;
    height: 650px;
    background-color: #fff;
    margin-right: 100px;

    .cardHeader {
        margin-bottom: 30px;
        width: 100%;

        img {
            width: 100%;
            height: 433px;
        }
    }
    
    .cardImg {
        width: 70px;
        height: 70px;
        border: 1px solid #6173A8;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
        cursor: pointer;
        

        img {
            width: 40px;
        }
    }

    .active {
        border: 2px solid $blue;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
        cursor: pointer;
        box-sizing: border-box;
        

        img {
            width: 40px;
        }
    }
}