@import "../../styles//globals.scss";

.yourOrderSectionWrapper {
    width: 601px;
    padding: 38px 28px 95px 28px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    margin-left: 50px;

    .yourOrderSectionTitle {
        font-size: 20px;
        line-height: 24px;
        color: $blue;
        margin-bottom: 30px;
    }

    .checkList {
        padding-right: 59px;

        .checkListHeader {
            margin-bottom: 17px;
            justify-content: space-between;
            color: $blue;

            p:last-child {
                padding-right: 30px;
            }
        }

        .checkListItem {
            margin-bottom: 10px;

            p {
                font-size: 14px;
                line-height: 17px;
                color: $blue;
            }
        }

        .generalSumma {
            padding: 15px 0;
            border-top: 1px solid #f1f1f1;
        }

        .generalSumma:last-child {
            padding-bottom: 20px;
        }
    }

    .PaymentMethodItem {
        display: flex;
        align-items: center;
        padding: 10px 19px 10px 11px;
        transition: all 0.25s linear;
        cursor: pointer;
        margin-bottom: 45px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        .paymentIconWrap {
            width: 42px;
            height: 42px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }

        .paymentIconWrapOne {
            background-color: #33CCCC;
        }

        .paymentIconWrapTwo {
            background-color: #28ACD4;
        }

        .paymentIconWrapThree {
            background-image: linear-gradient(180deg, #ECFF12 0%, #FFB912 100%);
        }

        .paymentIconWrapFour {
            background-color: #FF1B56;
        }

        span {
            font-size: 14px;
            line-height: 83.4%;
            color: #1D3783;
        }

        &:hover {
            background-color: #A7C2FC;
            border-radius: 10px;
        }
    }

    .readTheTerms {
        margin-bottom: 30px;

        p {
            font-size: 14px;
            line-height: 17px;
            color: $blue;
            margin-right: 10px;
        }

        div {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #5085F9;
            cursor: pointer;
            border-radius: 50%;
            user-select: none;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    .checkitOutBtn {
        padding: 20px 110px;
        font-size: 14px;
        line-height: 83.4%;
        border: none;
        color: #fff;
        background: linear-gradient(0deg, #1D3783, #1D3783), #5085F9;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
    }
}
