@import 'styles/colors';

.back {
  font-size: 14px;
  line-height: 17px;
  color: $blue;
  margin-top: 16px;

  span {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }
}

.fromWarp {
  margin-top: 60px;
}
