@import 'styles/colors';

.attachFilesForm {
  background-color: #fff;
  padding: 30px 30px 120px 30px;
  width: 627px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);

  .icon {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 21px;
      height: 21px; 
      cursor: pointer;         
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    color: $blue;
    margin-bottom: 42px;
    padding: 0 30px;
  }

  input, textarea {
    resize: none;
    margin-top: 15px;
    background: #edf1f4;
    border-radius: 5px;
    padding: 9px 0px 9px 20px;
    box-shadow: none;
    border: none;
    font-size: 14px;
    line-height: 17px;
    outline-color: $blue !important;
    display: block;
    width: 100%;

    &::placeholder {
      color: $blue;
      opacity: 0.5;
    }
  }
}
