@import 'styles/colors';

.Lorem {
  margin-top: 15px;
  margin-bottom: 80px;

  h3 {
    font-size: 30px;
    line-height: 37px;
    color: $blue;
    margin-bottom: 15px;
  }

  button {
    padding: 60px 67px;
    background-color: $blue;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 126px;
    border: none;
    margin-top: 34px;
    height: 157px;
  }

  .btn {
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    padding: 16px 217px 16px 23px;
    background: $light-blue;
    border-radius: 5px;
  }

  ul {
    list-style: none;
    li {
        display: flex;
        align-items: center;
      margin-top: 20px;
      font-size: 14px;
      line-height: 17px;
      color: $blue;

      span {
          width: 17px;
          height: 17px;
          margin-right: 10px;
      }
    }
  }
}
